@import 'tailwindcss';

/* https://gwfh.mranftl.com/fonts/cascadia-code?subsets=latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  src: url('public/fonts/CascadiaCode.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme inline {
	--animate-blink: blink 1s linear infinite;
	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	--font-terminal: "Cascadia Code", var(--font-mono);

	--color-base: var(--color-white);
	--color-muted: #bac2de;
	--color-primary: var(--color-primary);
	--color-pass: var(--color-green);
	--color-warn: var(--color-yellow);
	--color-fail: var(--color-red);
	--color-info: var(--color-blue);
	--color-surface: var(--color-black);
	--color-focus: var(--color-primary);
	--color-unfocus: var(--color-black);

	--color-red-theme: var(--color-red);
	--color-orange-theme: var(--color-orange);
	--color-yellow-theme: var(--color-yellow);
	--color-green-theme: var(--color-green);
	--color-blue-theme: var(--color-blue);
	--color-indigo-theme: var(--color-indigo);
	--color-violet-theme: var(--color-violet);
}

html {
	scrollbar-width: thin;
}

#theme-catppuccin {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #f2cdcd;
	--color-black: #1e1e2e;
	--color-white: #cdd6f4;

	--color-red: #f38ba8;
	--color-orange: #fab387;
	--color-yellow: #f9e2af;
	--color-green: #a6e3a1;
	--color-blue: #74c7ec;
	--color-indigo: #89b4fa;
	--color-violet: #cba6f7;
}

#theme-dracula {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #bd93f9;
	--color-black: #282a36;
	--color-white: #ffffff;

	--color-red: #ff5555;
	--color-orange: #ffb86c;
	--color-yellow: #f1fa8c;
	--color-green: #50fa7b;
	--color-blue: #8be9fd;
	--color-indigo: #bd93f9;
	--color-violet: #ff79c6;
}

#theme-everforest {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #9aa79d;
	--color-black: #2d353b;
	--color-white: #d3c6aa;

	--color-red: #e67e80;
	--color-orange: #e69875;
	--color-yellow: #dbbc7f;
	--color-green: #a7c080;
	--color-blue: #7fbbb3;
	--color-indigo: #83c092;
	--color-violet: #d699b6;
}

#theme-github-dark {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #f85149;
	--color-black: #0d1117;
	--color-white: #e6edf3;

	--color-red: #f85149;
	--color-orange: #db6d28;
	--color-yellow: #fbe557;
	--color-green: #56d364;
	--color-blue: #58a6ff;
	--color-indigo: #d2a8ff;
	--color-violet: #bc8cff;
}

#theme-github-light {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #4493f8;
	--color-white: #0d1117;
	--color-black: #f0f6fc;

	--color-red: #f85149;
	--color-orange: #db6d28;
	--color-yellow: #d29922;
	--color-green: #3fb950;
	--color-blue: #4493f8;
	--color-indigo: #8250df;
	--color-violet: #be8fff;
}

#theme-houston {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #4bf3c8;
	--color-black: #17191e;
	--color-white: #cccccc;

	--color-red: #f4587e;
	--color-orange: #ff8551;
	--color-yellow: #ffd493;
	--color-green: #23d18b;
	--color-blue: #00daef;
	--color-indigo: #54b9ff;
	--color-violet: #cc75f4;
}

#theme-kanagawa {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #dcd7ba;
	--color-black: #1f1f28;
	--color-white: #c8c093;

	--color-red: #ff5d62;
	--color-orange: #ff9e3b;
	--color-yellow: #e6c384;
	--color-green: #76946a;
	--color-blue: #7e9cd8;
	--color-indigo: #957fb8;
	--color-violet: #d27e99;
}

#theme-nord {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #8fbcbb;
	--color-black: #2e3440;
	--color-white: #eceff4;

	--color-red: #bf616a;
	--color-orange: #d08770;
	--color-yellow: #ebcb8b;
	--color-green: #a3be8c;
	--color-blue: #81a1c1;
	--color-indigo: #88c0d0;
	--color-violet: #b48ead;
}

#theme-precious {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #876500;
	--color-white: #4e5359;
	--color-black: #fff5e5;

	--color-red: #b14745;
	--color-orange: #a25600;
	--color-yellow: #876500;
	--color-green: #557300;
	--color-blue: #246da5;
	--color-indigo: #7a50c6;
	--color-violet: #a83f92;
}

#theme-rose-pine {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #ebbcba;
	--color-black: #191724;
	--color-white: #e0def4;

	--color-red: #eb6f92;
	--color-orange: #f6c177;
	--color-yellow: #f6c177;
	--color-green: #31748f;
	--color-blue: #9ccfd8;
	--color-indigo: #908caa;
	--color-violet: #c4a7e7;
}

#theme-tokyo-night {
	scrollbar-color: var(--color-primary) var(--color-black);

	--color-primary: #73daca;
	--color-black: #1b1e2e;
	--color-white: #ffffff;

	--color-red: #f7768e;
	--color-orange: #ff9e64;
	--color-yellow: #e0af68;
	--color-green: #73daca;
	--color-blue: #7aa2f7;
	--color-indigo: #698cd6;
	--color-violet: #bb9af7;
}
